style.
  :host {
    box-sizing: border-box;
    display: block;
    padding: .5em;
    height: 100vh;
    width: 100vw;
    background-image: url(public/bryggen.jpg);
    background-size: cover;
    color: #fff;
    font-family: 'Cairo';
  }
  img {
    width: 100%;
  }
  h1.color {
    color: #ffd800;
    margin: 0px;
  }
  .simple {
    margin: 0px;
  }
img(src="public/escape.png")
h1 RIKTIG KODE!
h2 Gaven er et gavekort på 1500kr til Escape Bryggen.

h2.simple Gavekort kode:
h1.color XXXXXXX